.login-conatiner {
    /* background-color: #E3E6E6;  */
    background-color: #ffffff; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.login-card {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto";
    width: 450px;
    height: 450px;
    box-shadow: 0px 4px 16px #bfbfbf;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    text-align: left;
    color: rgb(105, 104, 104);
}
.login-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}
.login-input {
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid rgb(219, 215, 215);
    border-radius: 4px;
}
.login-btn {
    background-color: #007BFF;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border-width: 0px;
    margin-top: 28px;
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}
.show-password-container{
   
    margin-top: -12px;
    margin-left: 5px;
}
.checkbox-element {
    margin-right: 5px;
}
.new-user-show-pass {
    display: flex;
    justify-content: space-between;
}
.new-user-link {
    margin-top: -12px;
    margin-left: 6px;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.login-header {
    font-family: 'Arial';
}
.error-msg {
    color: red;
    font-weight: 700;
    margin-top: -28px;
}
@media(max-width: 768px) {
 .login-card {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto";
    width: 450px;
    height: 450px;
    box-shadow: 0px 4px 16px #bfbfbf;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    margin: 25px;
}
}